google-ai-generativelanguage 
google-api-core               
google-auth                   
google-auth-oauthlib          
google-generativeai           
ipykernel                     
ipython                       
ipython-genutils              
ipywidgets                    
joblib                        
json5                         
jsonpatch                     
jsonpointer                   
jsonschema                    
jupyter                       
jupyter_client                
jupyter-console               
jupyter_core                  
jupyter-events                
jupyter-server                
jupyter_server_fileid         
jupyter_server_ydoc           
jupyter-ydoc                  
jupyterlab                    
keras                     
matplotlib                    
matplotlib-inline             
numpy                         
pandas                        
plotly                        
pymango                       
pymongo                       
scikit-learn
tensorflow
ta
pathlib
yfinance
pickle-mixin
streamlit-option-menu
requests
h5py
pickle_utils
tf.keras
load
ops
bs4
textblob


